{% extends 'layout.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>{{ trans('articles') }}</h1>
<ul>
    {% for article in articles %}
        <li>
            <a href="/article/{{ article.slug }}">{{ article.title }}</a>
            <small>Published on {{ article.publication_date|date("F j, Y") }}</small>
        </li>
    {% else %}
        <li>No articles found.</li>
    {% endfor %}
</ul>
{% endblock %}
